http:
  routers:
    mailbox-ui:
      rule: "Host(`messages.biginformatics.net`) && PathPrefix(`/ui`)"
      entrypoints:
        - websecure
      service: mailbox-api
      middlewares:
        - mailbox-streaming
      tls:
        certResolver: step-ca

    mailbox-api:
      rule: "Host(`messages.biginformatics.net`) && PathPrefix(`/api`)"
      entrypoints:
        - websecure
      service: mailbox-api
      tls:
        certResolver: step-ca

    mailbox-assets:
      rule: "Host(`messages.biginformatics.net`) && PathPrefix(`/assets`)"
      entrypoints:
        - websecure
      service: mailbox-api
      tls:
        certResolver: step-ca

  middlewares:
    mailbox-streaming:
      buffering:
        maxRequestBodyBytes: 0
        memRequestBodyBytes: 0
        maxResponseBodyBytes: 0
        memResponseBodyBytes: 0
        retryExpression: "false"

  services:
    mailbox-api:
      loadBalancer:
        servers:
          - url: "http://172.23.0.2:3100"
        passHostHeader: true
